code,
.line {
   @apply font-mono font-[500];
}

html pre span {
   color: var(--shiki-light);
}

html.dark pre {
   background-color: var(--shiki-dark-bg);
}

html.light pre {
   background-color: var(--shiki-light-bg);
}

html.dark pre span {
   color: var(--shiki-dark);
}

.diff.remove {
   @apply bg-danger-100/50 opacity-70;
}
.diff.add {
   @apply bg-success-100/60;
}

.diff {
   @apply w-max;
}
